<h1>New User</h1>

<%= form_for @user do |f| %>
  <%= f.label :email, "Email:" %>
  <%= f.text_field :email %>
  <%= f.label :username, "Username:" %>
  <%= f.text_field :username %>
  <%= f.label :password, "Password:" %>
  <%= f.password_field :password %>
  <%= f.submit %>
<% end %>

<%#<%= form_tag("/users", method: "post") do %>
<%#  <%= label_tag("user[email]", "Email:") %>
<%#  <%= text_field_tag("user[email]") %>
<%#  <%= label_tag("user[username]", "Username:") %>
<%#  <%= text_field_tag("user[username]") %>
<%#  <%= label_tag("user[password]", "Password:") %>
<%#  <%= text_field_tag("user[password]") %>
<%#  <%= submit_tag("Submit") %>
<%#<% end %>

<!-- <form action="/users" method="post" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" 
         value="<%= form_authenticity_token %>">
  <label for="email">Email:</label>
  <input type="text" name="user[email]" />
  <label for="username">Username:</label>
  <input type="text" name="user[username]" />
  <label for="password">Password:</label>
  <input type="password" name="user[password]" />
  <input type="submit" value="Submit">
</form>  -->